@import url("https://fonts.googleapis.com/css2?family=Reggae+One&family=Roboto:wght@400;700&display=swap");
:root {
  --header-name: #fc2e20;
  --link-color: #000;
}

.Navbar {
  background-color: #004369;
  width: 100%;
  height: 80px;
  box-shadow: 0 0 0.5rem rgb(83 78 76 / 50%);
  font-family: "Roboto", sans-serif;
  display: flex;
}

.Navbar .leftSide {
  flex: 50%;
  background-color: #004369;
  display: flex;
  justify-content: left;
  align-items: center;
}

.Navbar .leftSide .btn {
  display: none;
  margin-left: 20px;
}

.Navbar .leftSide #hidden {
  display: flex;
}
.Navbar .rightSide {
  flex: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 25px;
}

.rightSide input {
  width: 220px;
  height: 30px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  padding-left: 20px;
  color: white;
}

.rightSide button {
  height: 32px;
  width: 70px;
  font-size: 16px;
}
.Navbar .leftSide .links {
  max-height: 80px;
}

.Navbar .leftSide .links a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-left: 15px;
}
button:hover {
  background-color: lightgreen;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .Navbar .leftSide .links a {
    font-size: 20px;
  }
}

@media only screen and (max-width: 750px) {
  .Navbar .leftSide .links a {
    font-size: 15px;
  }
}

@media only screen and (max-width: 650px) {
  .Navbar .leftSide .btn {
    display: flex;
  }
  .Navbar .leftSide .links {
    display: none;
  }

  .Navbar .leftSide #hidden {
    position: absolute;
    left: 0px;
    top: 80px;

    height: 230px;
    max-height: 230px;
    width: 100%;
    background-color: #004369;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Navbar .leftSide #hidden a {
    margin: 10px;
    font-size: 25px;
  }
}
